<div class="main-content">

    <div class="container-fluid">
        <div class="row rowPadding">
            <div class="col-md-12">
                <div id="frame">
                    <div class="content">
                        <div class="contact-profile">
                            <img src="assets/img/diana-small.jpg" alt="" />
                            <p>DIANA</p>
                            <div class="logo">
                                <!-- <img src="assets/img/diana-small.jpg" alt="" /> -->
                                <!-- <i class="fa fa-facebook" aria-hidden="true"></i>
								<i class="fa fa-twitter" aria-hidden="true"></i>
								 <i class="fa fa-instagram" aria-hidden="true"></i> -->
                            </div>
                        </div>
                        <div class="messages" ngx-auto-scroll lock-y-offset="10" observe-attributes>

                            <ul *ngFor="let msg of messages">

                                <li class="sent" *ngIf="msg.user==='diana'">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <p *ngIf="!msg.richMessage && msg.message"> {{msg.message}}</p>

                                    <div *ngIf="msg.richMessage">

                                        <div *ngFor="let m of msg.richMessage.displayText">
                                            <p> {{m}}</p>
                                        </div>

                                    </div>


                                    <div *ngIf="msg.richMessage && msg.richMessage.images">
                                        <div class="col-md-12" *ngFor="let img of msg.richMessage.images" style="word-wrap: break-word">
                                            <a [href]="img.url" target="_blank">{{img.url}}</a>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row chat_btns" *ngIf="msg.richMessage && msg.richMessage.buttons">
                                        <div class="col-md-12" *ngFor="let btn of msg.richMessage.buttons">
                                            <button class="btn btn-sm btn-primary" type="button" [value]="btn.value" (click)="btnClick(btn.value)">
                                                {{btn.name}}
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="replies" *ngIf="msg.user==='user'">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <p> {{msg.message}} </p>
                                </li>

                                <!-- <div ng-show="msg.user==='user'">
                                    <li class="sent">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <p> {{msg.message}} </p>
                                    </li>
                                </div>
                                <div ng-show="msg.user==='diana'">
                                    <li class="replies">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <p> {{msg.message}} </p>
                                    </li>
                                </div> -->

                            </ul>
                        </div>
                        <div class="message-input">
                            <div class="wrap">
                                <input type="text" [(ngModel)]="text" placeholder="Write your message..."  (keyup)="onKey($event)"/>
                                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                                <button class="submit" (click)="getQuery()">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>