<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <h4>Channels</h4>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header facebook">
                        <i class="fa fa-facebook-official"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Facbook</p>
                        <h3 class="title">{{fbSuccessCount}}/{{fbReqCount}}
                            <small></small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header round twitter" >
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Twitter</p>
                        <h3 class="title">{{twitterSuccessCount}}/{{twitterReqCount}}
                            <small></small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 disabled">
                <div class="card card-stats">
                    <div class="card-header round slack">
                        <!-- <i class="fa fa-twitter"></i> -->
                        <img class="img" src="assets/img/Slack_Icon.png" />
                    </div>
                    <div class="card-content">
                        <p class="category">Slack</p>
                        <h3 class="title">{{slackSuccessCount}}/{{slackReqCount}}
                            <small></small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Service Disabled
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
